body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    --color-primary: #2e7488;
    --color-primary-light: #6396a4;
}

.table {
    color: #FFFFFF;
}

.table__body {
    border: 1px solid #000000;
}

.table__header {
    font-weight: 500;
    background-color: var(--color-primary) !important;
}

.table__row{
    background-color: var(--color-primary-light);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 40px;
    align-items: center;
    padding: 8px;
}

.details__summary {
    display: flex;
}

.details__content .table__row {
    padding-left: 16px;
}

.btn__power.active {
    color: #fff;
    background: #E57373;
}
.btn__power {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background: #81C784;
}
.btn__power:hover{
    background: #4CAF50
}
.btn__power:hover.active{
    background: #F44336
}
/* стилизация details общая - начало */

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
}

summary::after {
    content: "\203A";
    margin-left: 10px;
    transition: transform .3s;
}

details[open] summary::after {
    transform: rotate(90deg);
}


/* стилизация details общая - конец */
